[Unit]
Description=Cattle iot subscriber service
After=multi-user.target

[Service]
User=iti
Type=simple
ExecStart=/home/iti/cattle-model/catenv/bin/python /home/iti/cattle-model/cattle-iot-model/data_inject/subscribe.py
StandardInput=tty-force
Restart=on-failure

[Install]
WantedBy=default.target

