[Unit]
Description=Cattle iot subscriber service
After=multi-user.target

[Service]
User=seqato-lijo
Type=simple
ExecStart=/home/seqato-lijo/workspace/cattle-iot-model/catenv/bin/python /home/seqato-lijo/workspace/cattle-iot-model/data_inject/subscribe.py
StandardInput=tty-force
Restart=on-failure

[Install]
WantedBy=default.target

